@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Fonts/Inter-Bold.woff2") format("woff2"),
       url("../Fonts/Inter-Bold.woff") format("woff");
}

.submit-opinion {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: white;
  box-shadow: #E5E4E2 0px 3px 3px;
  width: 98%;
  height: 55px;
  padding: 10px;
  font-family: 'Inter';
}

.submit-opinion .heading {
  color: #593C1C;
  font-size: 20px;
  position: relative;
  width: 115%;
  top: -5px;
  left: 5px;
}

.submit-opinion input {
  background-color: #F5F5F5;
  font-size: 15px;
  position: relative;
  width: 90%;
  height: 33px;
  top: -2px;
  left: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.submit-opinion button {
  position: relative;
  width: 8%;
  top: -3px;
  left: 15px;
  color: #A97B47;
  padding: 10px 24px; /* Some padding */
  background-color: #F7F0E9;
  border: #F7F0E9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  cursor: pointer; /* Pointer/hand icon */
  margin-right: 15px;
  text-align:left;
}

/* Clear floats (clearfix hack) */
.submit-opinion:after {
  content: "";
  clear: both;
  display: table;
}

.submit-opinion button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.submit-opinion button:hover {
  background-color: #A97B47;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: white;
}